@model IEnumerable<Tour>

@*
    This is just for testing and will be removed
*@
<h1>Tours</h1>
<hr />
@{
    foreach (Tour tour in Model) {
        <h1>@tour.Name</h1>
        foreach (TourLocation tl in tour.Locations)
        {
            <h3>@tl.Location?.Name</h3>
            <h4>@tl.Location?.Description</h4>
            <h4>@tl.Rank</h4>
            <a asp-controller="Tour" asp-action="Location" style="padding-left: 3px">Back to Admin Portal</a>
            @Html.ActionLink(@tl.Location?.Name, "Location", "Tour", new {  tourId=tour.Id, rank=tl.Rank  }, null)
        <hr />
        }
        <hr />
    }
}
