<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BucView</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BucView.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" type="image/x-icon" href="~/etsu.ico" />
    @RenderSection("Styles", false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/Logos/ETSU-Buccaneers-logo.png" height="50" width="75" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

	<footer id="footer" class="footer-primary, text-center">
		<hr />
		<nav>
			<p xmlns:ouc="https://omniupdate.com/XSL/Variables"><a title="ETSU College Degree Programs — Find your future" href="/ehome/majors/default.php">Majors &amp; Minors |</a><a title="ETSU Cost of Attendance" href="/paying-for-college/estimator/default.php"> Cost Estimate |</a><a title="ETSU Request Information" href="/admissions/contactus.php"> Request <abbr style="border-bottom: none;" title="Information">Info |</abbr></a><a title="ETSU Visit" href="/admissions/visit/default.php"> Visit |</a><a title="ETSU Apply to College" href="/admissions/apply/default.php"> Apply |</a><a title="ETSU Give" href="https://securelb.imodules.com/s/974/giving/interior.aspx?sid=974&gid=1&pgid=678&cid=1372"> Give</a></p>
		</nav>@*<script type="application/ld+json"> <!-- This section somehow populates all of the styling for the footer on ETSU's website -->
				  {									<!-- I haven't been able to get it to work yet, no solution I can find right now -->
					  "@context": "http://schema.org",
					  "@type": "EducationalOrganization",

					  "@id" : "https://schema.etsu.edu/#EducationalOrganization",
					  "name": "East Tennessee State University",
					  "legalName": "East Tennessee State University",
					  "alternateName": "ETSU",
					  "url": "https://www.etsu.edu",
					  "location" :
					  {
						  "@type" : "Place",
						  "address" :
						  {
							  "@type" : "PostalAddress",
							  "addressCountry" : "United States",
							  "addressLocality" : "Johnson City",
							  "addressRegion" : "TN",
							  "postalCode" : "37614-1700",
							  "streetAddress": "1276 Gilbreath Drive",
							  "postOfficeBoxNumber": "1276 Gilbreath Drive, Box 70300"
						  }
					  },
					  "contactPoint":
					  [
						  {
							  "@type": "ContactPoint",
							  "contactType": "customer service",
							  "telephone": "tel:+14234391000",
							  "url": "https://www.etsu.edu"
						  }
					  ] ,
					  "department" :
					  {
						  "@type" : "CollegeOrUniversity",
						  "@id" : "https://schema.etsu.edu/#Department-DepartmentofComputing",
						  "name" : "Department of Computing",


						  "url" : "https://www.etsu.edu/cbat/computing/",
						  "contactPoint":
						  {
							  "@type" : "ContactPoint",
							  "contactType" : "Customer Service",
							  "telephone": "tel:+14234395328",
							  "faxNumber": "fax:+14234397119"},
						  "location" :
						  {
							  "@type" : "Place",
							  "address" :
							  {
								  "@type" : "PostalAddress",
								  "addressCountry" : "United States",
								  "addressRegion" : "TN",
								  "addressLocality" : "Johnson City",
								  "postalCode" : "37614",
								  "postOfficeBoxNumber": "PO Box 70711"
							  }
						  }
					  }
				  }
		</script>*@
		<!-- Department of Computing section of footer, commenting in case we decide to add it later -->
		@*<h2 class="text--gold"><a href="index.htm">Department of Computing</a></h2>
		<address>
			PO Box 70711<br>Johnson City, <abbr title="Tennessee" style="border-bottom:none;">TN</abbr> 37614
			(<a href="http://maps.google.com/?q=+Johnson City+TN" title="Get Directions to this location via Google Maps"><span class="fas fa-map-marked-alt"></span> Get Directions</a>)

		</address>
		<ul class="list--inline text--center">
			<li>Phone: <a href="tel:+14234395328">423-439-5328</a></li>
			<li>Fax: 423-439-7119</li>
		</ul>
		<h3 class="font--300 margin--1T margin--5B text--uppercase">College of Business and Technology</h3>
		<hr class="gradient"><div class="organization">*@
			<h3 class="text--center">
				<a class="logo" href="//www.etsu.edu">
					East Tennessee State University (<abbr title="East Tennessee State University" style="border-bottom:none;">ETSU</abbr>) in Johnson City
				</a>
			</h3>
			<address class="text--gray">1276 Gilbreath <abbr title="Drive" style="border-bottom:none;">Dr.</abbr>, Box 70300, Johnson City, <abbr title="Tennessee" itemprop="addressRegion">TN</abbr> 37614-1700</address>
			<ul style="list-style: none;" class="list--inline text--center text--gray">
				<li><a href="tel:14234391000" title="ETSU Customer Service Phone Number">(423) 439-1000</a></li>
				<li><a href="mailto:info@etsu.edu" title="ETSU Customer Service Email">info@etsu.edu</a></li>
			</ul>
			<ul style="list-style: none;" class="list--inline text--center text--gray">
				<li><a href="../../ehome/documents/webprivacystatement.pdf">Privacy Policy</a></li>
				<li><a href="/policies/compliance_policies_webpage/discrimination_harassment_sexual_misconduct_policy.php">Non-Discrimination Policy</a></li>
			</ul>
		</div><p class="text--gray"><span id="directedit">©</span>&nbsp;East Tennessee State University — All Rights Reserved.</p>
	</footer>
	
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>