@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Location
<style>
    h2 {text-align:center}
    h4 {text-align:center}
</style>

<h1>@Model.Id</h1>
<h2>@Model.Name</h2>
<h4>@Model.Description</h4>

<div id="carousel" class="carousel slide w-50 mx-auto" data-bs-ride="true">
    <div class="carousel-indicators">

        @for (int i = 0; i < Model.Images.Count; i++)  // Iterate through all the images, creating an indicator for each
        {

            // The first button needs the "active" class so the carousel indicators have a starting point
            if (i == 0)
            {
                        <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 0"></button>
            }
            else
            {
                        <button type="button" data-bs-target="#carousel" data-bs-slide-to="@i" aria-label="Slide @i"></button>
            }
        }

    </div>
    <div class="carousel-inner" style="height:300px">

        @foreach (var image in Model.Images)   // Iterate through all the images, creating div and img elements for each
        {

            // The first image needs the "active" class so the carousel has a starting point
            if (image == Model.Images.First())
            {
                        <div class="carousel-item active">
                            <img src="~/images/Locations/@image.ImageUrl" style="display:block; margin:auto; height:auto" class="d-block w-100 h-100" alt="@Model.Name-@image.Rank">
                        </div>
            }
            else
            {
                        <div class="carousel-item">
                            <img src="~/images/Locations/@image.ImageUrl" style="display:block; margin:auto; height:auto" class="d-block w-100 h-100" alt="@Model.Name-@image.Rank">
                        </div>
            }
        }

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
